GBS1_20220914/
GBS2_20230113/
GBS3_20230113/
GBS4_20230313/
GBS5_20230313/
scratch/
slurmlogs/
MergedRuns/bamfiles/
MergedRuns/scratch/
MergedRuns/slurmlogs/
MergedRuns/stacks_outputs/
MergedRuns/slurmscripts/*.out
MergedRuns/slurmscripts/*.err
angsd/SFS/AncestralState/
angsd/SFS/bamlists/
angsd/SFS/GlobalSFS/
angsd/SFS/HeterozygosityCalcs/
angsd/SFS/slurmlogs/
